################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CookieAuthentication/FileContentIndex
/.vs/CookieAuthentication/FileContentIndex/0d9f945a-987a-4a19-a9f5-18e9da008621.vsidx
